<% include ../partials/header %>

<div class="container showfeeds">
	<div class="row">
        <div class="col-md-2">

        </div>
	 	<div class="col-md-8">
          <h4> <%= feed.title %> <h4>
	 	 	<div class="contents">
	 	 		
            <pre><%= feed.content %> </pre>
	 	 	</div>
	 	 	<p>Submitted by
						<em><%= feed.author.username%>
							</em>
						</p>

		 			<% if(currentUser && feed.author.id.equals(currentUser._id)) { %>
							<a class="btn btn-warning" href="/feeds/<%= feed._id%>/edit">Edit</a>	
							<form class="del" id="delete-form" action="/feeds/<%= feed._id%>?_method=DELETE" method="POST">
								<button class="btn btn-danger">Delete</button>
							</form>
					<% } %>
          
	 	</div>

	 	


	</div>




</div>


<% include ../partials/footer %>











