<% include ../partials/header %>


   <div class="ui main text container" style ="margin:150px 125px 25px 125px">
   		<div class="ui top attached segment">
   			<div class="ui divided items">
        <h1><%=id%></h1>
   				<% feeds.forEach(function(items){ %>

   					
                  <div class="meta">
                    <h4><%= items.from %> </h4>
                 
                </div>  
                <br>
                <div class="description">
   					<% if(items.img =="0") { %>
   							  	<p> <%= items.text%> </p>
                           
   					<% }else{ %>
   						<a><img class="thumbnail" src="<%= items.text%>"/></a>
   					<% } %>
                </div>
                                 
                     
              

            
   					
   				<%}) %>
           <div class="extra" >
      
              
            
                      <% if(id == "1"){ %>
                         <a class="ui floated basic red button pull-right" href="/admin/<%= guilty %>">Add Vulnerable User

                     <% }else{ %>

                         <a class="ui floated basic red button pull-right" href="/pay/<%=feeds[0].room%>">Pay
                         
                     <% }%>

                       

                       <i class="right chevron icon"></i>
                        </a>

                         <a class="ui floated basic red button pull-left" href="/admin">Decline
                       <i class="right chevron icon"></i>
                        </a>
              </div>
   			</div>
   		</div>
   </div>




<% include ../partials/footer %>
